body {
    background-color: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  header, footer {
    background-color: #222;
    /* padding: 20px; */
  }
  nav a {
    color: #ccc;
    text-decoration: none;
    margin: 0 10px;
  }
  nav a:hover {
    color: #fff;
  }
  main {
  opacity: 75%;
  background: radial-gradient(92.16% 100% at 49.87% 0%, rgba(103, 168, 243, 0.3) 19.86%, rgba(0, 0, 0, 0) 100%);
  padding: 3rem;
  height: 80vh;
  }
 main h1 {
    font-size: 32px;
    margin-bottom: 20px;
    margin-left: 35.1rem;
  }
  main p {
    line-height: 1.6;
    padding-block: 1.5rem
    ;
  }
  main .coloring{
    color: #00aaff;
  }